#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# Mail Webhooks API service (rootfull)
#
[Unit]
Description=Mail Webhooks API server for %i
After=network.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/%i/state/environment
EnvironmentFile=-/var/lib/nethserver/%i/state/secrets/environment
WorkingDirectory=/var/lib/nethserver/%i/state
Restart=always
TimeoutStartSec=120
ExecStartPre=/bin/rm -f /run/%i-mail-webhooks.pid /run/%i-mail-webhooks.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=/run/%i-mail-webhooks.pid \
    --cidfile=/run/%i-mail-webhooks.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%i-mail-webhooks \
    --publish=127.0.0.1:${TCP_PORT}:8080 \
    --env=MONGODB_URL=${MONGODB_URL} \
    --env=MAIL_SERVER_UUID=${MAIL_SERVER_UUID} \
    --env=WEBHOOKS_COLLECTION=${WEBHOOKS_COLLECTION:-webhooks} \
    --env=EVENTS_COLLECTION=${EVENTS_COLLECTION:-events} \
    --env=SETTINGS_COLLECTION=${SETTINGS_COLLECTION:-settings} \
    --env=TRIGGERS_COLLECTION=${TRIGGERS_COLLECTION:-triggers} \
    --env=LOGS_COLLECTION=${LOGS_COLLECTION:-logs} \
    localhost/mail-webhooks-backend:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile /run/%i-mail-webhooks.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile /run/%i-mail-webhooks.ctr-id
PIDFile=/run/%i-mail-webhooks.pid
Type=forking

[Install]
WantedBy=multi-user.target
