#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a mail-webhook worker for scheduled processing.
#
[Unit]
Description=Mail Webhook Worker
After=mail-webhooks.service
Requires=mail-webhooks.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
RestartSec=60
ExecStartPre=/bin/rm -f %t/mail-webhook-worker.pid %t/mail-webhook-worker.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/mail-webhook-worker.pid \
    --cidfile=%t/mail-webhook-worker.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=%S/state/environment \
    --volume=%S/state/data:/var/lib/nethserver/mail-webhook:Z \
    --log-driver=journald \
    ${MAIL_WEBHOOK_IMAGE} \
    python -m mailwebhook.worker
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mail-webhook-worker.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mail-webhook-worker.ctr-id
PIDFile=%t/mail-webhook-worker.pid
Type=forking

[Install]
WantedBy=default.target
