#
# Copyright (C) 2023 Lee M. Lwando <leemlwando@gmail.com>
# SPDX-License-Identifier: MIT
#

#
# This systemd unit starts a mail-webhooks instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=mail-webhooks server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/mail-webhooks.pid %t/mail-webhooks.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/mail-webhooks.pid \
    --cidfile=%t/mail-webhooks.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:8000 \
    --env-file=environment \
    --volume=mail-webhooks-data:/var/lib/nethserver/mail-webhooks:Z \
    --workdir=/imageroot \
    --user=1000:1000 \
    ${NS8_MAIL_WEBHOOKS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mail-webhooks.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mail-webhooks.ctr-id
PIDFile=%t/mail-webhooks.pid
Type=forking

[Install]
WantedBy=default.target
